body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}

html,
body,
#root {
  height: 100%;
}

#spinner {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#samples {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #f8f8f0;
}